<a href="https://colab.research.google.com/github/gannannavelorange/Project/blob/master/src/reverse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
class Solution(object):
    def reverse(self, x):
        """
        :type x: int
        :rtype: int
        """
        if -2**31<=x<=2**31-1:
            xx=str(abs(x))
            rev=int(xx[::-1])
            if rev>2**31:
                return 0
            elif x>=0:
                return rev
            else:
                return -1*rev
        else:
            return 0

In [32]:
a=Solution()
print(a.reverse(-120))

-21

In [29]:
class Solution1:
    def reverse(self, x):
        """
        :type x: int
        :rtype: int
        """
       
        s = str(abs(x))
            
        reversed = int(s[::-1])
        
        if reversed > 2147483647:
            return 0

        return reversed if x > 0 else (reversed * -1)

In [64]:
a=Solution()
print(a.reverse(-120))

-21

In [18]:
t=-123487678
t1=str(abs(t))
t2=t1[-1::-2]
print(t2)
tt=[1,2,3,4]
tt1=tt[::-1]
print(tt1)

86831
[4, 3, 2, 1]